##### R Sort a Data Frame using Order()


In data analysis you can sort your data according to a certain variable in the dataset. In R, we can use the help of the function order(). In R, we can easily sort a vector of continuous variable or factor variable. Arranging the data can be of ascending or descending orde

**Syntax:**

sort(x, decreasing = FALSE, na.last = TRUE):

**Argument:**

* x: A vector containing continuous or factor variable
* decreasing: Control for the order of the sort method. By default, decreasing is set to `FALSE`.
* last: Indicates whether the `NA` 's value should be put last or not

**Example 1**

For instance, we can create a tibble data frame and sort one or multiple variables. A tibble data frame is a new approach to data frame. It improves the syntax of data frame and avoid frustrating data type formatting, especially for character to factor. It is also a convenient way to create a data frame by hand, which is our purpose here. To learn more about tibble, please refer to the vignette:

In [18]:
library(dplyr)
set.seed(2)
data_frame <- tibble(  
    c1 = rnorm(50, 5, 1.5),   
    c2 = rnorm(50, 5, 1.5),  
    c3 = rnorm(50, 5, 1.5),
    c4 = rnorm(50, 5, 1.5), 
    c5 = rnorm(50, 5, 1.5)
)
# Sort by c1
df <-data_frame[order(data_frame$c1),]
head(df)

  c1       c2       c3       c4       c5
1 1.322440 3.639334 5.806369 4.021724 5.703920
2 1.533396 3.770007 5.683970 3.674046 5.677196
3 2.061345 7.521732 5.614586 4.884843 9.332627
4 2.411030 4.019910 6.548102 5.037843 4.144006
5 3.200111 5.495674 5.208288 6.259778 6.073279
6 3.201848 4.098260 3.503930 3.880371 4.312994

In [5]:
# Sort by c3 and c4
df <-data_frame[order(data_frame$c3, data_frame$c4),]
head(df)

  c1       c2       c3       c4       c5
1 4.573763 2.941596 1.975632 3.302843 4.955078
2 5.434455 2.884942 2.386355 2.563611 8.387378
3 6.188305 6.578788 2.414015 6.231742 4.439435
4 4.630231 5.580042 2.819285 5.755463 4.118240
5 5.007407 4.919416 3.433656 3.642997 5.105660
6 5.626476 2.317637 3.458929 5.597701 6.539369

In [19]:
# Sort by c3(descending) and c4(acending)
df <-data_frame[order(-data_frame$c3, data_frame$c4),]
head(df)

  c1       c2       c3       c4       c5
1 4.161407 4.419576 8.165110 4.018835 5.143886
2 5.198630 2.051183 8.072060 2.985334 5.575757
3 4.640453 6.403794 8.013031 5.696304 4.474179
4 7.384457 4.787509 7.565947 5.085288 3.810207
5 3.440497 5.237247 7.038410 5.539819 2.848705
6 8.136229 3.618087 6.861800 6.632993 5.597219