<h1 align='center'>Merge Data Frames in R</h1>

Very often, we have data from multiple sources. To perform an analysis, we need to **merge** two dataframes together with one or more `common key variables`

In this tutorial, you will learn

1. Full match
2. Partial match

##### Full match
A full match returns values that have a counterpart in the destination table. The values that are not match won't be return in the new data frame. The partial match, however, return the missing values as NA.

We will see a simple `inner join`. The inner join keyword selects records that have matching values in both tables. To join two datasets, we can use merge() function. We will use three arguments :

merge(x, y, by.x = x, by.y = y)
Arguments:
-x: The origin data frame
-y: The data frame to merge
-by.x: The column used for merging in x data frame. Column x to merge on
-by.y: The column used for merging in y data frame. Column y to merge on

### Example:

Create First Dataset with variables

surname

nationality

Create Second Dataset with variables

surname

movies

The common key variable is surname. We can merge both data and check if the dimensionality is 7x3.

We add stringsAsFactors=FALSE in the data frame because we don't want R to convert string as factor, we want the variable to be treated as character.

In [3]:
# Create origin dataframe(

producers <- data.frame(   
    surname =  c("Spielberg","Scorsese","Hitchcock","Tarantino","Polanski"),    
    nationality = c("US","US","UK","US","Poland"),    
    stringsAsFactors=FALSE)
producers

  surname   nationality
1 Spielberg US
2 Scorsese  US
3 Hitchcock UK
4 Tarantino US
5 Polanski  Poland

In [5]:
# Create destination dataframe
movies <- data.frame(    
    surname = c("Spielberg","Scorsese","Hitchcock","Hitchcock","Spielberg","Tarantino","Polanski"),    
    title = c("Super 8","Taxi Driver","Psycho","North by Northwest","Catch Me If You Can","Reservoir Dogs","Chinatown"),
    stringsAsFactors=FALSE)
movies

  surname   title
1 Spielberg Super 8
2 Scorsese  Taxi Driver
3 Hitchcock Psycho
4 Hitchcock North by Northwest
5 Spielberg Catch Me If You Can
6 Tarantino Reservoir Dogs
7 Polanski  Chinatown

In [10]:
# Merge two datasets
m1 <- merge(producers, movies, by.x = "surname")
m1

  surname   nationality title
1 Hitchcock UK          Psycho
2 Hitchcock UK          North by Northwest
3 Polanski  Poland      Chinatown
4 Scorsese  US          Taxi Driver
5 Spielberg US          Super 8
6 Spielberg US          Catch Me If You Can
7 Tarantino US          Reservoir Dogs

Find the Dimension of the Data is `dim`

In [11]:
dim(m1)

[1] 7 3

Let's merge data frames when the common key variables have different names.

We change surname to name in the movies data frame. We use the function `identical(x1, x2)` to check if both dataframes are identical.

In [14]:
# Change name of ` movies ` dataframe
colnames(movies)[colnames(movies) == 'surname'] <- 'name'

In [21]:
# Merge with different key value
m2 <- merge(producers, movies, by.x = "surname", by.y = "name")
m2

  surname   nationality title
1 Hitchcock UK          Psycho
2 Hitchcock UK          North by Northwest
3 Polanski  Poland      Chinatown
4 Scorsese  US          Taxi Driver
5 Spielberg US          Super 8
6 Spielberg US          Catch Me If You Can
7 Tarantino US          Reservoir Dogs

In [22]:
# Print head of the data
head(m2)

  surname   nationality title
1 Hitchcock UK          Psycho
2 Hitchcock UK          North by Northwest
3 Polanski  Poland      Chinatown
4 Scorsese  US          Taxi Driver
5 Spielberg US          Super 8
6 Spielberg US          Catch Me If You Can

In [23]:
tail(m2)

  surname   nationality title
2 Hitchcock UK          North by Northwest
3 Polanski  Poland      Chinatown
4 Scorsese  US          Taxi Driver
5 Spielberg US          Super 8
6 Spielberg US          Catch Me If You Can
7 Tarantino US          Reservoir Dogs

In [25]:
# Check if data are identical
identical(m1, m2)

[1] TRUE

In [27]:
summary(m1)

   surname          nationality           title
 Length:7           Length:7           Length:7
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character

In [28]:
summary(m2)

   surname          nationality           title
 Length:7           Length:7           Length:7
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character

### Partial match

It is not surprising that two dataframes do not have the same common key variables. In the full matching, the dataframe returns only rows found in both x and y data frame. With partial merging, it is possible to keep the rows with no matching rows in the other data frame. These rows will have NA in those columns that are usually filled with values from y. We can do that by setting all.x= TRUE.

For instance, we can add a new producer, Lucas, in the producer data frame without the movie references in movies data frame. If we set all.x= FALSE, R will join only the matching values in both data set. In our case, the producer Lucas will not be join to the merge because it is missing from one dataset.

Let's see the dimension of each output when we specify all.x= TRUE and when we don't.

In [30]:
# Create a new producer
add_producer <-  c('Lucas', 'US')
add_producer

[1] "Lucas" "US"

In [32]:
#  Append it to the ` producer` dataframe
producers <- rbind(producers, add_producer)
producers

  surname   nationality
1 Spielberg US
2 Scorsese  US
3 Hitchcock UK
4 Tarantino US
5 Polanski  Poland
6 Lucas     US
7 Lucas     US

In [33]:
# Use a partial merge 
m3 <-merge(producers, movies, by.x = "surname", by.y = "name", all.x = TRUE)
m3

  surname   nationality title
1 Hitchcock UK          Psycho
2 Hitchcock UK          North by Northwest
3 Lucas     US          NA
4 Lucas     US          NA
5 Polanski  Poland      Chinatown
6 Scorsese  US          Taxi Driver
7 Spielberg US          Super 8
8 Spielberg US          Catch Me If You Can
9 Tarantino US          Reservoir Dogs

In [34]:
# Compare the dimension of each data frame
dim(m1)

[1] 7 3

In [36]:
dim(m2)

[1] 7 3

In [37]:
dim(m3)

[1] 9 3

As we can see, the dimension of the new data frame 8x3 compared with 7x3 for m1 and m2. R includes NA for the missing author in the books data frame.

In [38]:
sort(m3)

ERROR: Error in `[.data.frame`(x, order(x, na.last = na.last, decreasing = decreasing)): undefined columns selected