**Create data frame**
1. First of all, let's import the mtcars dataset and get the mean of mpg and disp grouped by gear.

In [2]:
require(dplyr)
library(dplyr)

df <-mtcars %>%
    select(mpg, disp, gear) %>%
    group_by(gear) %>%
    summarize(mean_mpg = mean(mpg), mean_disp = mean(disp))
df

  gear mean_mpg mean_disp
1 3    16.10667 326.3000
2 4    24.53333 123.0167
3 5    21.38000 202.4800

The table contains three rows and three columns. You can create a CSV file with the function write.csv().

**Export CSV**

The basic syntax is:

write.csv(df, path)
arguments
-df: Dataset to save. Need to be the same name of the data frame in the environment.
-path: A string. Set the destination path. Path + filename + extension i.e. "/Users/USERNAME/Downloads/mydata.csv" or the filename + extension if the folder is the same as the working directory

In [5]:
write.csv(df, "Car.csv")

In [8]:
write.dcf(df, "Car.dcf")

In [11]:
write.table(df,"Car.table")