### What is Factor in R?
Factors are variables in R which take on a limited number of different values; such variables are often referred to as categorical variables.

In a dataset, we can distinguish two types of variables: categorical and continuous.

1. In a categorical variable, the value is limited and usually based on a particular finite group. For example, a categorical variable can be countries, year, gender, occupation.
2. A continuous variable, however, can take any values, from integer to decimal. For example, we can have the revenue, price of a share, etc..

**Categorical Variables**

R stores categorical variables into a factor. Let's check the code below to convert a character variable into a factor variable. Characters are not supported in machine learning algorithm, and the only way is to convert a string to an integer.

factor(x = character(), levels, labels = levels, ordered = is.ordered(x))

#### Arguments:

1. x: A vector of data. Need to be a string or integer, not decimal.
2. Levels: A vector of possible values taken by x. This argument is optional. The default value is the unique list of items of the vector x.
3. Labels: Add a label to the x data. For example, 1 can take the label `male` while 0, the label `female`.
4. ordered: Determine if the levels should be ordered.


**Example:**

Let's create a factor data frame.

In [1]:
# Create gender vector
gender_vector <- c("Male", "Female", "Female", "Male", "Male")
class(gender_vector)
# Convert gender_vector to a factor
factor_gender_vector <-factor(gender_vector)
class(factor_gender_vector)

[1] "character"

[1] "factor"

It is important to transform a string into factor when we perform Machine Learning task.

A categorical variable can be divided into nominal categorical variable and ordinal categorical variable.

**Nominal Categorical Variable**

A categorical variable has several values but the order does not matter. For instance, male or female categorical variable do not have ordering.

In [3]:
# Create a color vector
color_vector <- c('blue', 'red', 'green', 'white', 'black', 'yellow')
# Convert the vector to factor
factor_color <- factor(color_vector)
factor_color

[1] blue   red    green  white  black  yellow
Levels: black blue green red white yellow

From the factor_color, we can't tell any order.

#### Ordinal Categorical Variable
Ordinal categorical variables do have a natural ordering. We can specify the order, from the lowest to the highest with order = TRUE and highest to lowest with order = FALSE.

**Example:**

We can use summary to count the values for each factor.

In [5]:
# Create Ordinal categorical vector 
day_vector <- c('evening', 'morning', 'afternoon', 'midday', 'midnight', 'evening')
# Convert `day_vector` to a factor with ordered level
factor_day <- factor(day_vector, order = TRUE, levels =c('morning', 'midday', 'afternoon', 'evening', 'midnight'))
# Print the new variable
factor_day

[1] evening   morning   afternoon midday    midnight  evening
Levels: morning < midday < afternoon < evening < midnight

In [7]:
## Levels: morning < midday < afternoon < evening < midnight
# Append the line to above code
# Count the number of occurence of each level
summary(factor_day)

  morning    midday afternoon   evening  midnight
        1         1         1         2         1

#### Continuous Variables
Continuous class variables are the default value in R. They are stored as numeric or integer. We can see it from the dataset below. mtcars is a built-in dataset. It gathers information on different types of car. We can import it by using mtcars and check the class of the variable mpg, mile per gallon. It returns a numeric value, indicating a continuous variable.

In [14]:
dataset <- mtcars
head(dataset)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [11]:
class(dataset$mpg)

[1] "numeric"